<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new List</h3>
    <form method="POST" action="/listings">
        <input type="text" name="Listing[title]" placeholder="enter title">
        <br><br>
        <textarea type="text" name="Listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="Listing[image-name]" placeholder="enter image filename">
        <br><br>
        <input type="text" name="Listing[image-url]" placeholder="enter image-url">
        <br><br>
        <input type="number" name="Listing[price]" placeholder="enter price">
        <br><br>
        <input type="text" name="Listing[location]" placeholder="enter location">
        <br><br>
        <input type="text" name="Listing[country]" placeholder="enter country">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>